body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #673ab7;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

main {
  padding: 20px;
}

.name-input, 
.due-date-input {
  font-size: 15px;
  background-color: #673ab7;
  color:white;
}

::placeholder {
  color:white;
}

.name-input:focus, 
.due-date-input:focus {
  outline: none; 
  border-color: #673ab7; 
}


.todo-input-grid,
.todo-grid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.todo-input-grid input,
.add-todo-button, .delete-todo-button {
  padding: 10px;
  border: none;
  border-radius: 20px;
}

.add-todo-button, .delete-todo-button {
  background-color: #673ab7;
  color: #fff;
  cursor: pointer;
}

.js-todo-list {
  margin-top: 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 10px;
}

.todo-item button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
